<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Report</title>
    <link rel="stylesheet" href=https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css>
    <style> {% include 'tablesort.css' %}</style>

    <script
        src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script> {% include 'tablesort.min.js' %} </script>
    <style>
      .table th, .table td {
        text-align: center;
      }
      .table thead th {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 100px;
      }
      .col-max {
        font-weight: bold;
      }
    </style>
  </head>
  <body>
    <div id='plot-container'> {{ plot|safe }} </div>
    <div id='table-container'> {{ table|safe }} </div>
    <!-- page content -->
    <script>
      // set tooltips
      var tooltips = {{ tooltips|safe }};
      $('#table-container tbody th')
        .each(function () {
          $(this).tooltip({
            container: 'body',
            title: function () {
              return tooltips[$(this).text()];
            }
          });
        });

      // add table sort
      new Tablesort(document.getElementsByClassName('table')[0]);

      // bold highest in column
      $(function(){
        var cols = []
        var trs = $('#table-container tbody tr')
        var data =$.each(trs, function(index, tr) {
          $.each($(tr).find("td"), function(index, td){
            cols[index] = cols[index] || [];
            cols[index].push($(td).text())
          })
        });
        cols.forEach(function(col, index){
          var max = Math.max.apply(null, col);
          $('#table-container tbody tr').find('td:eq('+index+')').each(function(i, td){
            $(td).toggleClass('col-max', +$(td).text() === max)
          })
        })
      })
    </script>
  </body>
</html>