[submodule "external/bhtsne"]
	path = external/bhtsne
	url = https://github.com/piotder/bhtsne.git
[submodule "external/vptree"]
	path = external/vptree
	url = https://github.com/piotder/vptree.git
[submodule "external/pybind11"]
	path = external/pybind11
	url = https://github.com/pybind/pybind11.git
