data/
*.pyc
bin/
build/
libs/
*.o
*.so
env/
wikimap/Pagerank/pagerank
wikimap/Pagerank/test/run_tests
wikimap/Graph/aggregate
wikimap/Embeddings/Node2Vec/node2vec
wikimap/Embeddings/Node2Vec/word2vec
wikimap/Array/testarray
export.py