<head>
  <style>
    #chart {
        position: absolute;
        width: 100%;
        height: 100%;
    }
  </style>
  <script type="text/javascript">
    var headers = {{ headers|safe }};
    console.log(headers);

    var rows = {{ rows|safe }};
    console.log(rows);
  </script>
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script type="text/javascript">
    google.charts.load('45', {packages: ['corechart']});
    google.charts.setOnLoadCallback(drawChart);

    function drawChart() {
      // Define the chart to be drawn.
      var dataTable = new google.visualization.DataTable();
      dataTable.addColumn('string', headers[0]);
      for (var i = 1; i < headers.length; i++) {
        dataTable.addColumn('number', headers[i]);
      }
      dataTable.addRows(rows);

      // Instantiate and draw the chart.
      var chart = new google.visualization.LineChart(document.getElementById('chart'));

      var options = {
        explorer: {
          actions: ['dragToZoom', 'rightClickToReset'],
          keepInBounds: true,
          maxZoomOut: 1
        },
        chartArea: {
          width: '80%',
          height: '80%'
        }
      };

      chart.draw(dataTable, options);
    }
  </script>
</head>
<body>
  <!-- Identify where the chart should be drawn. -->
  <div id="chart"/>
</body>